<main class="_home _3">
  <section class="_iii">
    <div class="_content _1">
      <div class="_container _2">
        <div class="_info">
          <div class="_title">{{ section.settings.title_i }}</div>
          <div class="_text">{{ section.settings.text_i }}</div>
        </div>
      </div>
      <figure class="_bg">
        <div class="_details">
          <figure class="_media-res d-lg-none">
            <figure class="_bg-img">
              <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/Blue-ingredients-bg_1.svg?v=1738015505">
            </figure>
            <img class="_food _cebolla _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/cebolla-blue.svg?v=1736975209" />
            <img class="_food _cilantro _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/cilantro-blue.svg?v=1736975147" />
            <img class="_food _pepino _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pepino-blue.svg?v=1736975158" />
            <img class="_food _pepino _2" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pepino-blue.svg?v=1736975158" />
            <img class="_food _pepino _3" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pepino-blue.svg?v=1736975158" />
            <img class="_food _pepino _4" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pepino-blue.svg?v=1736975158" />
            <img class="_food _pimenton _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pimenton-blue.svg?v=1736975135" />
            <img class="_food _pimenton _2" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pimenton-blue.svg?v=1736975135" />
            <img class="_food _coco _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/coco-blue.svg?v=1736975171" />
            <img class="_food _ginger _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/ginger-blue.svg?v=1737554941" />
            <img class="_food _ginger _2" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/ginger-blue.svg?v=1737554941" />
            <img class="_food _zanahoria _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/zanahoria-blue.svg?v=1736975185" />
            <img class="_food _zanahoria _2" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/zanahoria-blue.svg?v=1736975185" />
          </figure>
          <figure class="_media _left d-none d-lg-block">
            <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/details-blue-left.svg?v=1736974944" />
          </figure>
          <figure class="_media _right d-none d-lg-block">
            <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/details-blue-right.svg?v=1736974963" />
          </figure>
        </div>
      </figure>
    </div>
    <div class="_content _2">
      <div class="slider">
    	<div class="slide-track">
    		<div class="slide _1">
              {% if section.settings.pic_i != blank %}
                <img src="{{ section.settings.pic_i | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-1.jpg?v=1740080562" alt="Soup with Cookstix" />
              {% endif %}
              
            </div>
    		<div class="slide _2">
              {% if section.settings.pic_ii != blank %}
                <img src="{{ section.settings.pic_ii | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-2.jpg?v=1740080562" alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _3">
              {% if section.settings.pic_iii != blank %}
                <img src="{{ section.settings.pic_iii | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-3.jpg?v=1740080562" alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _4">
              {% if section.settings.pic_iv != blank %}
                <img src="{{ section.settings.pic_iv | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-4.jpg?v=1740080562"  alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _5">
              {% if section.settings.pic_vi != blank %}
                <img src="{{ section.settings.pic_vi | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-5.jpg?v=1740080562"  alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _6">
              {% if section.settings.pic_vii != blank %}
                <img src="{{ section.settings.pic_vii | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-6.jpg?v=1740080562"  alt="Soup with Cookstix" />
              {% endif %}
            </div>
          
    		<div class="slide _1">
              {% if section.settings.pic_i != blank %}
                <img src="{{ section.settings.pic_i | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-1.jpg?v=1740080562" alt="Soup with Cookstix" />
              {% endif %}
              
            </div>
    		<div class="slide _2">
              {% if section.settings.pic_ii != blank %}
                <img src="{{ section.settings.pic_ii | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-2.jpg?v=1740080562" alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _3">
              {% if section.settings.pic_iii != blank %}
                <img src="{{ section.settings.pic_iii | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-3.jpg?v=1740080562" alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _4">
              {% if section.settings.pic_iv != blank %}
                <img src="{{ section.settings.pic_iv | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-4.jpg?v=1740080562"  alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _5">
              {% if section.settings.pic_vi != blank %}
                <img src="{{ section.settings.pic_vi | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-5.jpg?v=1740080562"  alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _6">
              {% if section.settings.pic_vii != blank %}
                <img src="{{ section.settings.pic_vii | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-6.jpg?v=1740080562"  alt="Soup with Cookstix" />
              {% endif %}
            </div>
          
    		<div class="slide _1">
              {% if section.settings.pic_i != blank %}
                <img src="{{ section.settings.pic_i | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-1.jpg?v=1740080562" alt="Soup with Cookstix" />
              {% endif %}
              
            </div>
    		<div class="slide _2">
              {% if section.settings.pic_ii != blank %}
                <img src="{{ section.settings.pic_ii | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-2.jpg?v=1740080562" alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _3">
              {% if section.settings.pic_iii != blank %}
                <img src="{{ section.settings.pic_iii | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-3.jpg?v=1740080562" alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _4">
              {% if section.settings.pic_iv != blank %}
                <img src="{{ section.settings.pic_iv | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-4.jpg?v=1740080562"  alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _5">
              {% if section.settings.pic_vi != blank %}
                <img src="{{ section.settings.pic_vi | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-5.jpg?v=1740080562"  alt="Soup with Cookstix" />
              {% endif %}
            </div>
    		<div class="slide _6">
              {% if section.settings.pic_vii != blank %}
                <img src="{{ section.settings.pic_vii | img_url: '1600x' }}">
              {% else %}
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pic-slider-6.jpg?v=1740080562"  alt="Soup with Cookstix" />
              {% endif %}
            </div>

          
        </div>
      </div>
    </div>
  </section>
  <span class="_trigger" id="trigger_home_iii-1"></span>
  <span class="_trigger" id="trigger_home_iii-2"></span>
  <span class="_trigger" id="trigger_home_iii-3"></span>
  <span class="_trigger" id="trigger_home_iii-4"></span>
  <span class="_trigger" id="trigger_home_iii-5"></span>
  <span class="_trigger" id="trigger_home_iii-6"></span>
</main>


<script type="text/javascript">
    
  window._klOnsite = window._klOnsite || [];
  window._klOnsite.push(['openForm', 'VBrgcN']);

  
  document.addEventListener('DOMContentLoaded', function () {
    let controller_home_iii = new ScrollMagic.Controller({refreshInterval: 0});  
    let home_height_iii = $("main>section._iii").height();
    
    var anim_iii_1 = TweenMax.to("main._home section._iii figure._bg ._details>figure._media img", 0.5, {y: "5%", ease: Power1.easeInOut});
    var scene_iii_1 = new ScrollMagic.Scene({triggerElement: "#trigger_home_iii-1", duration: (home_height_iii / 3) })
      .setTween(anim_iii_1)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home_iii);
    
    
  });
</script>
<style>
  span#trigger_home_iii-1 {
    top: 10%;
  }
  span#trigger_home_iii-2 {
  }
  span#trigger_home_iii-3 {
  }
  span#trigger_home_iii-4 {
  }
  span#trigger_home_iii-5 {
  }
</style>



{% schema %}
  {
    "name": "Home III",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_i",
        "label": "Herobanner Pic 1"
      },
      {
        "type": "richtext",
        "id": "title_i",
        "label": "Title I",
        "default": "<h2>better-tasting <br>meals, no extra effort</h2>"
      },
      {
        "type": "richtext",
        "id": "text_i",
        "label": "Text I",
        "default": "<p>delicious, impactful flavor made simple with <b>small, recipe-ready packets.</b> no bulky packaging, no waste; just real, clean, and <b>better ingredients for tastier cooking.</b><p>"
      },
      {
        "type": "image_picker",
        "id": "pic_i",
        "label": "Picture 1"
      },
      {
        "type": "image_picker",
        "id": "pic_ii",
        "label": "Picture 2"
      },
      {
        "type": "image_picker",
        "id": "pic_iii",
        "label": "Picture 3"
      },
      {
        "type": "image_picker",
        "id": "pic_iv",
        "label": "Picture 4"
      },
      {
        "type": "image_picker",
        "id": "pic_v",
        "label": "Picture 5"
      },
      {
        "type": "image_picker",
        "id": "pic_vi",
        "label": "Picture 6"
      },
      {
        "type": "image_picker",
        "id": "pic_vii",
        "label": "Picture 7"
      }

      
    ]
  }
{% endschema %}