<main class="_home _1 _2">
  <section class="_i">
    <div class="_container _1">
      <div class="_cardhome">
        <div class="row no-m">
          <div class="col-12 col-md-6 col-xl-5 _1">
            <div class="_inside">
              <div class="_info">
                <div class="_content" data-splitting>{{ section.settings.title_i }}</div>
              </div>
              <figure class="_food pollo">
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/chicken.svg?v=1736975863" />
              </figure>
              <figure class="_food cebolla">
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/cebolla.svg?v=1736975862" />
              </figure>
              <figure class="_food lemon">
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pepino.svg?v=1736975862" />
              </figure>
              <figure class="_food cilantro">
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/cilantro.svg?v=1736975862" />
              </figure>
            </div>
          </div>
          <div class="col-12 col-md-6 col-xl-7 _2">
            <div class="_inside">
              <figure class="_video">
                <i class="bi bi-youtube"></i>
                <div class="_video">
                  {% if section.settings.bg_i != blank %}
                    <video class="_video-in" src="{{ section.settings.bg_i | img_url: '1600x' }}" autoplay muted loop playsinline alt="Delicious food with Cookstix"></video>
                  {% else %}
                    <video class="_video-in" src="https://cdn.shopify.com/videos/c/o/v/9458ecf40c1b43f59a6b8b3d0a8f53e3.mp4" autoplay muted loop playsinline alt="Delicious food with Cookstix"></video>
                  {% endif %}
                </div>
              </figure>
              <div class="_logic">
                <div class="_item _1">
                  <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/stick.svg?v=1736976069">
                  <h5>open stick</h5>
                </div>
                <div class="_icon _1">
                  <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/plus.svg?v=1736976069">
                </div>
                <div class="_item _2">
                  <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/hotwater.svg?v=1736976069">
                  <h5>add hot water</h5>
                </div>
                <div class="_icon _2">
                  <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/equal.svg?v=1736976069">
                </div>
                <div class="_item _3">
                  <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/jarra.svg?v=1736976069">
                  <h5>get cookin'</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <figure class="_food zanahoria">
          <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/zanahoria.svg?v=1736975862" />
        </figure>
        <figure class="_food jengibre">
          <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/jengibre.svg?v=1736975862" />
        </figure>
      </div>
    </div>
    <span class="_trigger" id="trigger_home_ii-1"></span>
  </section>
  <section class="_ii">
    <div class="_container _1">
      <div class="_content">
        <div class="_items">
          <div class="_item _i">
            <div class="_in">
              <figure class="_icon">
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/chicken-veriifed.svg?v=1736975598">
              </figure>
              <div class="_text">
                <p>{{ section.settings.item_text_1 }}</p>
              </div>
            </div>
          </div>
          <div class="_item _ii">
            <div class="_in">
              <figure class="_icon">
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/browser.svg?v=1736975598">
              </figure>
              <div class="_text">
                <p>{{ section.settings.item_text_2 }}</p>
              </div>
            </div>
          </div>
          <div class="_item _iii">
            <div class="_in">
              <figure class="_icon">
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/trash.svg?v=1736975598">
              </figure>
              <div class="_text">
                <p>{{ section.settings.item_text_3 }}</p>
              </div>
            </div>
          </div>
          <div class="_item _iv">
            <div class="_in">
              <figure class="_icon">
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pantry.svg?v=1736975598">
              </figure>
              <div class="_text">
                <p>{{ section.settings.item_text_4 }}</p>
              </div>
            </div>
          </div>
          <div class="_item _v">
            <div class="_in">
              <figure class="_icon">
                <img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/cooking.svg?v=1736975598">
              </figure>
              <div class="_text">
                <p>{{ section.settings.item_text_5 }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <span class="_trigger" id="trigger_home_ii-1"></span>
  <span class="_trigger" id="trigger_home_ii-2"></span>
  <span class="_trigger" id="trigger_home_ii-3"></span>
  <span class="_trigger" id="trigger_home_ii-4"></span>
  <span class="_trigger" id="trigger_home_ii-5"></span>
  <span class="_trigger" id="trigger_home_ii-6"></span>
</main>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    let controller_home = new ScrollMagic.Controller({refreshInterval: 0});  
    let home_height_i = $("main>section._i").height();
    
    var anim_i_1 = TweenMax.to("main._home._1 section._i ._cardhome figure._food.pollo img", 0.5, {y: "-30px", ease: Power1.easeInOut});
    var scene_i_1 = new ScrollMagic.Scene({triggerElement: "#trigger_header", duration: (home_height_i) })
      .setTween(anim_i_1)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home);
    
    var anim_i_2 = TweenMax.to("main._home._1 section._i ._cardhome figure._food.cebolla img", 0.5, {y: "-100px", ease: Power1.easeInOut});
    var scene_i_2 = new ScrollMagic.Scene({triggerElement: "#trigger_header", duration: (home_height_i) })
      .setTween(anim_i_2)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home);
    
    var anim_i_3 = TweenMax.to("main._home._1 section._i ._cardhome figure._food.lemon img", 0.5, {y: "-50px", ease: Power1.easeInOut});
    var scene_i_3 = new ScrollMagic.Scene({triggerElement: "#trigger_header", duration: (home_height_i) })
      .setTween(anim_i_3)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home);
    
    var anim_i_4 = TweenMax.to("main._home._1 section._i ._cardhome figure._food.cilantro img", 0.5, {y: "-20px", ease: Power1.easeInOut});
    var scene_i_4 = new ScrollMagic.Scene({triggerElement: "#trigger_header", duration: (home_height_i) })
      .setTween(anim_i_4)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home);
    
    var anim_i_5 = TweenMax.to("main._home._1 section._i ._cardhome figure._food.jengibre img", 0.5, {y: "-80px", ease: Power1.easeInOut});
    var scene_i_5 = new ScrollMagic.Scene({triggerElement: "#trigger_header", duration: (home_height_i) })
      .setTween(anim_i_5)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home);
    
    var anim_i_6 = TweenMax.to("main._home._1 section._i ._cardhome figure._food.zanahoria img", 0.5, {y: "-40px", ease: Power1.easeInOut});
    var scene_i_6 = new ScrollMagic.Scene({triggerElement: "#trigger_header", duration: (home_height_i) })
      .setTween(anim_i_6)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home);
    
    var scene_i_7 = new ScrollMagic.Scene({triggerElement: "#trigger_header" })
      .setClassToggle("main._home._1 section._i", "sticky")
      //.addIndicators()
      .triggerHook(0.01)
      .addTo(controller_home);
    
    var anim_i_8 = TweenMax.to("main._home._1 section._i ._cardhome ._inside figure._video ._video ._video-in", 0.5, {y: "10%", ease: Power1.easeInOut});
    var scene_i_8 = new ScrollMagic.Scene({triggerElement: "#trigger_header", duration: (home_height_i) })
      .setTween(anim_i_8)
      .triggerHook(0.49)
      //.addIndicators()
      .addTo(controller_home);
    
  });
</script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    let controller_home_ii = new ScrollMagic.Controller({refreshInterval: 0});  
    let home_height_ii = $("main>section._ii").height();
    
    var anim_ii_1 = TweenMax.to("main._home section._ii ._content ._items ._item._i ._in ", 0.5, {transform: "rotate(0) translateY(0)", ease: Power1.easeInOut});
    var scene_ii_1 = new ScrollMagic.Scene({triggerElement: "#trigger_home_ii-1", duration: (200) })
      .setTween(anim_ii_1)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home_ii);
    
    var anim_ii_2 = TweenMax.to("main._home section._ii ._content ._items ._item._ii ._in ", 0.5, {transform: "rotate(0) translateY(0)", ease: Power1.easeInOut});
    var scene_ii_2 = new ScrollMagic.Scene({triggerElement: "#trigger_home_ii-2", duration: (200) })
      .setTween(anim_ii_2)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home_ii);
    
    var anim_ii_3 = TweenMax.to("main._home section._ii ._content ._items ._item._iii ._in ", 0.5, {transform: "rotate(0) translateY(0)", ease: Power1.easeInOut});
    var scene_ii_3 = new ScrollMagic.Scene({triggerElement: "#trigger_home_ii-3", duration: (200) })
      .setTween(anim_ii_3)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home_ii);
    
    var anim_ii_4 = TweenMax.to("main._home section._ii ._content ._items ._item._iv ._in ", 0.5, {transform: "rotate(0) translateY(0)", ease: Power1.easeInOut});
    var scene_ii_4 = new ScrollMagic.Scene({triggerElement: "#trigger_home_ii-4", duration: (200) })
      .setTween(anim_ii_4)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home_ii);
    
    var anim_ii_5 = TweenMax.to("main._home section._ii ._content ._items ._item._v ._in ", 0.5, {transform: "rotate(0) translateY(0)", ease: Power1.easeInOut});
    var scene_ii_5 = new ScrollMagic.Scene({triggerElement: "#trigger_home_ii-5", duration: (200) })
      .setTween(anim_ii_5)
      .triggerHook(0.49)
      // .addIndicators()
      .addTo(controller_home_ii);
    
  });
</script>
<style type="text/stylesheet">
  span#trigger_home_i-1 {
    top: 100%;
  }
  
  span#trigger_home_ii-1 {
    top: 0;
  }
  span#trigger_home_ii-2 {
    top: 200px;
  }
  span#trigger_home_ii-3 {
    top: 300px;
  }
  span#trigger_home_ii-4 {
    top: 400px;
  }
  span#trigger_home_ii-5 {
    top: 500px;
  }
</style>




{% schema %}
  {
    "name": "Home II",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_i",
        "label": "Herobanner Pic 1"
      },
      {
        "type": "text",
        "id": "title_i",
        "label": "Title I",
        "default": "think outside the (stock) box"
      },
      {
        "type": "text",
        "id": "item_text_i",
        "label": "Item text 1",
        "default": "clean and high quality ingredients."
      },
      {
        "type": "text",
        "id": "item_text_1",
        "label": "Item text 1",
        "default": "clean and high quality ingredients."
      },
      {
        "type": "text",
        "id": "item_text_2",
        "label": "Item text 2",
        "default": "dehydrated. flavor intensified."
      },
      {
        "type": "text",
        "id": "item_text_3",
        "label": "Item text 3",
        "default": "less waste. only taste."
      },
      {
        "type": "text",
        "id": "item_text_4",
        "label": "Item text 4",
        "default": "pantry-friendly. recipe-ready"
      },
      {
        "type": "text",
        "id": "item_text_5",
        "label": "Item text 5",
        "default": "compact, convenient, powerful."
      }

      
    ]
  }
{% endschema %}