{% assign shop = collections.frontpage %}
<main class="_home _4" id="shophome">
  <section class="_iv">
    <div class="_container _1">
      <div class="_content">
        <div class="_head">
          <div class="_title" data-splitting>
            {{ section.settings.title_i }}
          </div>
          <a class="_btn _1" href="https://mycookstix.com/blogs/recipes">
            <span>shop all</span>
          </a>
        </div>
        <div class="_body">
          <div class="_cards">
            {% for pdp in shop.products %}
              {% render 'pdp', product: pdp %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <figure class="_bg">
      <div class="_all">
        <div class="_details">
          <img class="_icon _zanahoria _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/carrot-brown.svg?v=1737082677">
          <img class="_icon _zanahoria _2" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/carrot-brown.svg?v=1737082677">
          <img class="_icon _pimenton _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pimenton-brown.svg?v=1737082731">
          <img class="_icon _pepino _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pepino-brown.svg?v=1737082715">
          <img class="_icon _pepino _2" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pepino-brown.svg?v=1737082715">
          <img class="_icon _pepino _3" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pepino-brown.svg?v=1737082715">
          <img class="_icon _pepino _4" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pepino-brown.svg?v=1737082715">
          <img class="_icon _pepino _5" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/pepino-brown.svg?v=1737082715">
          <img class="_icon _apio _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/apio-brown.svg?v=1737082693">
          <img class="_icon _ginger _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/ginger-brown.svg?v=1737082723">
          <img class="_icon _ginger _2" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/ginger-brown.svg?v=1737082723">
          <img class="_icon _coco _1" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/coconut-brown.svg?v=1737082703">
        </div>
        <figure class="_plop _1">
          <img class="_bg" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/bg.svg?v=1737076912">
        </figure>
        <figure class="_plop _2">
          <img class="_bg" src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/bg.svg?v=1737076912">
        </figure>
      </div>
    </figure>
    
    <aside class="_content_marquee _1">
      <div class="_marquee _1">
        <div class="_track">
          <div class="_content">
            <h6 class="_h6 _anek-d _w-500">
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span> {{ section.settings.tape_text_1 }} 
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span> {{ section.settings.tape_text_2 }}
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span> {{ section.settings.tape_text_3 }}   
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span> {{ section.settings.tape_text_4 }}
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span> {{ section.settings.tape_text_5 }} 
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span> {{ section.settings.tape_text_1 }} 
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span> {{ section.settings.tape_text_2 }}
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span> {{ section.settings.tape_text_3 }}   
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span> {{ section.settings.tape_text_4 }} 
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span> {{ section.settings.tape_text_5 }} 
              <span><img src="https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768" /></span>    
            </h6>
          </div>
        </div>
      </div>
    </aside>
  </section>
                
  <span class="_trigger" id="trigger_home_iv-1"></span>
  <span class="_trigger" id="trigger_home_iv-2"></span>
  <span class="_trigger" id="trigger_home_iv-3"></span>
  <span class="_trigger" id="trigger_home_iv-4"></span>
  <span class="_trigger" id="trigger_home_iv-5"></span>
  <span class="_trigger" id="trigger_home_iv-6"></span>
</main>

                
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    let controller_home_iv = new ScrollMagic.Controller({refreshInterval: 0});  
    let home_height_iv = $("main>section._iv").height();
    
    var anim_iv_1 = TweenMax.to("main._home._4>section>figure._bg>._all figure._plop._1 ", 0.5, {"background-position-x": "50vw", ease: Power1.easeInOut});
    var scene_iv_1 = new ScrollMagic.Scene({triggerElement: "#trigger_home_iv-1", duration: (home_height_iv * 2) })
      .setTween(anim_iv_1)
      .triggerHook(1)
      //.addIndicators()
      .addTo(controller_home_iv);
    
    var anim_iv_2 = TweenMax.to("main._home._4>section>figure._bg>._all figure._plop._2 ", 0.5, {"background-position-x": "-50vw", "background-position-y": "100%", ease: Power1.easeInOut});
    var scene_iv_2 = new ScrollMagic.Scene({triggerElement: "#trigger_home_iv-4", duration: (home_height_iv * 2) })
      .setTween(anim_iv_2)
      .triggerHook(0.7)
      //.addIndicators()
      .addTo(controller_home_iv);
    
    var scene_iv_3 = new ScrollMagic.Scene({triggerElement: "#trigger_home_iv-1" })
      .setClassToggle("main._home._4 section._iv", "move_1")
      // .addIndicators()
      .reverse(false)
      .addTo(controller_home_iv);

    
    var anim_iv_2 = TweenMax.to("main._home._4>section>figure._bg>._all figure._plop._2 ", 0.5, {"background-position-x": "-50vw", "background-position-y": "100%", ease: Power1.easeInOut});
    var scene_iv_2 = new ScrollMagic.Scene({triggerElement: "#trigger_home_iv-4", duration: (home_height_iv * 2) })
      .setTween(anim_iv_2)
      .triggerHook(0.7)
      //.addIndicators()
      .addTo(controller_home_iv);

    
  });
</script>
<style>
  span#trigger_home_iv-1 {
    top: -20%;
  }
  span#trigger_home_iv-2 {
    top: 20%;
  }
  span#trigger_home_iv-3 {
    top: 25%;
  }
  span#trigger_home_iv-4 {
    top: 50%;
  }
  span#trigger_home_iv-5 {
    top: 75%;
  }
</style>


{% schema %}
  {
    "name": "Home IV",
    "settings": [
      {
        "type": "image_picker",
        "id": "bg_i",
        "label": "Herobanner Pic 1"
      },
      {
        "type": "text",
        "id": "title_i",
        "label": "Title I",
        "default": "one foundation, three bold flavors. unlock your inner chef."
      },
      {
        "type": "text",
        "id": "tape_text_1",
        "label": "Tape text 1",
        "default": "Clean and high-quality ingredients"
      },
      {
        "type": "text",
        "id": "tape_text_2",
        "label": "Tape text 2",
        "default": "< 300mg of sodium per serving "
      },
      {
        "type": "text",
        "id": "tape_text_3",
        "label": "Tape text 3",
        "default": "Lightweight form"
      },
      {
        "type": "text",
        "id": "tape_text_4",
        "label": "Tape text 4",
        "default": "No Sugar "
      },
      {
        "type": "text",
        "id": "tape_text_5",
        "label": "Tape text 5",
        "default": "No Added Chicken Flavor "
      }
    ]
  }
{% endschema %}